@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@font-face {
  font-family: 'Avant Garde';
  src: url(../../static/fonts/AvantGardeRegular.otf) format('truetype');
}

html {
  font-family: 'Roboto', 'Noto Sans KR', 'sans-serif';
}

@media only screen and (min-width: 829px) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0px;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
